<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNMFyUnEvDUIa41NV8zP01ZyUep1qAhKA</string>
	<key>GCM_SENDER_ID</key>
	<string>83390199673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crud.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>crud-9a54e</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-9a54e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83390199673:ios:bf58db8add1ffc9a06e1a8</string>
</dict>
</plist>